.text-white{
    color:$color-white;
}

.text-black{
    color:$color-black;
}
.text-primary{
    color:$color-primary;
}
.text-secondary{
    color:$color-secondary;
}
.text-success{
    color:$color-success;
}
.text-danger{
    color:$color-danger;
}
.text-warning{
    color:$color-warning;
}
.text-info{
    color:$color-info;
}
.bg-white{
    background-color:$color-white;
}

.bg-black{
    background-color:$color-black;
}
.bg-primary{
    background-color:$color-primary;
}
.bg-secondary{
    background-color:$color-secondary;
}
.bg-success{
    background-color:$color-success;
}
.bg-danger{
    background-color:$color-danger;
}
.bg-warning{
    background-color:$color-warning;
}
.bg-info{
    background-color:$color-info;
}
.border-white{
    border-color:$color-white;
}

.border-black{
    border-color:$color-black;
}
.border-primary{
    border-color:$color-primary;
}
.border-secondary{
    border-color:$color-secondary;
}
.border-success{
    border-color:$color-success;
}
.border-danger{
    border-color:$color-danger;
}
.border-warning{
    border-color:$color-warning;
}
.border-info{
    border-color:$color-info;
}