.uitext-white{
    color:$color-white;
}

.uitext-black{
    color:$color-black;
}
.uitext-primary{
    color:$color-primary;
}
.uitext-secondary{
    color:$color-secondary;
}
.uitext-success{
    color:$color-success;
}
.uitext-danger{
    color:$color-danger;
}
.uitext-warning{
    color:$color-warning;
}
.uitext-info{
    color:$color-info;
}
.uibg-white{
    background-color:$color-white;
}

.uibg-black{
    background-color:$color-black;
}
.uibg-primary{
    background-color:$color-primary;
}
.uibg-secondary{
    background-color:$color-secondary;
}
.uibg-success{
    background-color:$color-success;
}
.uibg-danger{
    background-color:$color-danger;
}
.uibg-warning{
    background-color:$color-warning;
}
.uibg-info{
    background-color:$color-info;
}
.border-white{
    border-color:$color-white;
}
.border-black{
    border-color:$color-black;
}
.border-primary{
    border-color:$color-primary;
}
.border-secondary{
    border-color:$color-secondary;
}
.border-success{
    border-color:$color-success;
}
.border-danger{
    border-color:$color-danger;
}
.border-warning{
    border-color:$color-warning;
}
.border-info{
    border-color:$color-info;
}